<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') -%>
            <main>
                <div class="title">
                    <h2>Candidates</h2>
                </div>
                <%- include('./partials/message.ejs') -%>
                    <form id="search" class="row g-3 justify-content-center mt-1">
                        <div class="col-auto">
                            <select id="testType" name="testType" class="form-select">
                                <option value="">Test Type</option>
                                <option value="G2">G2</option>
                                <option value="G">G</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Search</button>
                        </div>
                    </form>
                    <hr>

                    <div id="result"></div>
                    <div id="mark-modal" class="modal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2>Mark</h2>
                                </div>
                                <form action="/mark" method="POST" id="mark-form" class="shadow rounded modal-body">
                                    <div class="mb-3">
                                        <input id="driverId" type="hidden" name="driverId" />
                                        <label class="form-label">Result</label><br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="testPassed" id="Pass" value="true">
                                            <label class="form-check-label" for="Pass">Pass</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="testPassed" id="Fail" value="false">
                                            <label class="form-check-label" for="Fail">Fail</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="comment" class="form-label">Comment</label>
                                        <input type="text" class="form-control" id="comment" name="testComment" required>
                                    </div>

                                    <div class="text-center">
                                        <button id="submit" type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </main>

            <%- include('./partials/footer.ejs') %>
                <%- include('./partials/libs.ejs') -%>
                    <script src="js/candidate.js"></script>
    </body>

    </html>